@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
$white: hsl(0, 0%, 98%);
$gray: hsl(0, 0%, 41%);
$black: hsl(0, 0%, 8%);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}

ul {
    list-style-type: none;
}

nav a {
    color: var(--gray);
    text-decoration: none;
}

// BODY
body {
    padding: 1em 2em;
    min-height: 100vh;
}

// HEADER
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // BRAND LINKS
    .brand-links {
        display: flex;
        flex-basis: 35%;
        align-items: center;
        justify-content: space-between;
        // outline: red solid;

        nav .hot-links {
            display: flex;
            gap: 1.5em;

            .svg-arrow{
                transition: 0.2s;
            }
            :hover .svg-arrow {
                rotate: 180deg;
            }

            li:nth-child(1),
            li:nth-child(2) {
                position: relative;
                //FEATURES x COMPANY

                .dropdown {
                    display: none;
                    position: absolute;
                    border-radius: 10px;
                    box-shadow: 1px 0px 20px #c2bfbf;
                    width: 8em;
                    top: 15px;
                    left: -10px;

                    ul {
                        display: flex;
                        flex-direction: column;
                        gap: 1em;
                        padding: 10px;

                        li {
                            display: flex;

                            a {
                                display: flex;
                                align-items: center;
                                gap: 1em;
                            }

                            a:hover {
                                color: $gray;
                            }
                        }
                    }
                }
            }

            li:nth-child(1):hover,
            li:nth-child(2):hover {
                .dropdown {
                    display: block;
                }
            }
        }
    }
    // LOGINS
    .logins {
        ul {
            display: flex;
            align-items: center;
            gap: 2em;
            color: $gray;

            li a:hover {
                color: $black;
            }

            :nth-child(2) {
                border: 2px solid $gray;
                padding: 10px;
                border-radius: 10px;
            }
        }
    }
}

// MAIN
main{
    display: flex;
    margin-top: 1em;
    padding-inline: 3em;
    

    // outline: red solid;

    >*{
        width: 50%;
    }
    // 
    .text-overlay{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 4em;
        margin-top: 6em;


        .content{
            display: flex;
            flex-direction: column;
            gap: 1.5em;

            h1{
                font-size: 4rem;
                width: 73%;
                line-height: 1.2em;
            }
            p{
                width: 65%;
                line-height: 1.5em;
            }
            a{
                text-decoration: none;
                color: $white;
                background: $black;
                width: fit-content;
                padding: 10px 20px;
                border-radius: 10px;
                transition: all 0.3s;
            }
            a:hover{
                color: $black;
                background: $white;
                border: solid 1px $black;
            }
        }
        
        .partners{
            display: flex;
            align-items: center;
            gap: 2em;

            img {
                max-width: 5em;
            }
        }
    }
    // 
    .artwork{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            max-width: 60%;
        }
    }
}

/* --------media-queries-------- */
@media screen and (max-width:768px){

    body{
        padding-inline: 0;
    }
    // header
    header{
        padding-inline: 1em;
        .brand-links{
            nav{
                display: none;
            }
        }
        .logins{
            nav{
                display: none;
            }
        }
        #menu-toggle{
            display: flex;
            flex-direction: column;
            align-items: center;
            background: transparent;
            border: none;
            cursor: pointer;
            gap: 4px;

            span {
                display: block;
                height: 3px;
                background: #000;
                width: 2em;
                color: red;
              }
        }
    }
    
    // mobile nav
    .mobile-nav{
        display: none;
    }

    // main
    main{
        flex-direction: column-reverse;
        padding: 0;
        gap: 3em;

        >*{
            width: 100%;
        }

        .text-overlay{
            margin-top: 0;

            .content{
                align-items: center;
                padding: 0 10px;
                h1{
                    font-size: 1.7rem;
                    width: 100%;
                    text-align: center;
                }
                p{
                    width: 100%;
                    text-align: center;
                }
            }

            .partners{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                padding-inline: 1em;

                img{
                    width: 100%;
                }

            }
        }

        .artwork {
            img{
                max-width: 100%;
            }
        }
    }


}